@page "/"
@using static WebApp.Client.Common.ClientConstants;
@using WebApp.Client.Services
@using WebApp.Shared.Dto

<PageTitle>
    Home
</PageTitle>

<h1>Hello, world!</h1>
<p>
    Username: <input type="text" @bind-value="@this._userLoginDto.UserName" />
</p>
<p>
    Password: <input type="text" @bind-value="@this._userLoginDto.PassWord" />
</p>
<p>
    <button type="button"
            @onclick="(()=>Login())">
        Log In
    </button>
</p>
<p>
    Bearer: <input type="text" @bind-value="@_bearerToken" />
</p>

@code {
    [Inject]
    public ILoginService? LoginService { get; set; }

    [Inject]
    public Blazored.SessionStorage.ISessionStorageService? sessionStorage { get; set; }

    private string? _bearerToken = "Hello";

    private UserLoginDto _userLoginDto = new();

    protected async Task Login()
    {
        if (LoginService != null)
        {
            if (sessionStorage != null)
            {
                this._bearerToken = await LoginService.GetBearer(LoginEndpoint, this._userLoginDto);
                await sessionStorage.SetItemAsync("bearerToken", this._bearerToken);
            }
        }
    }
}