@page "/"

@* Login Page*@
<PageTitle>
    Home
</PageTitle>

<h1>Hello, world!</h1>
<p>
    Username: <input type="text" @bind-value="@this._userLoginDto.UserName" />
</p>
<p>
    Password: <input type="text" @bind-value="@this._userLoginDto.PassWord" />
</p>
<p>
    <button type="button"
            @onclick="(()=>Login())">
        Log In
    </button>
</p>

@* User's Media Page*@
<p>
    <button type="button"
            @onclick="(()=>ListUsers())">
        List Users
    </button>
</p>